# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
venv/
env/
ENV/
venv.bak/
env.bak/
management
config.json

# Django-related files
db.sqlite3
*.log
staticfiles/
media/

# Ignore migrations files but keep the folder
**/migrations/*
!**/migrations/
!**/migrations/__init__.py

# If you're using macOS
.DS_Store

# Ignore local environment files
.env

# Ignore virtual environments
.vscode/
.idea/
.PyCharm/